body {
	font-family: 'helvetica'; 
	font-size: 28px; 
	color: White; 
	background: white;
	text-align: center; 
	margin: auto
	width: 60%; }
	
	
header {
	color: #F1A629; 
	margin-top: 50px;
	padding: none; 
	}
	
.main h2 {
	margin: -90px auto auto auto;
	font-size: 400%; }
.main p {
	margin: -20px auto auto auto; 
	font-family: 'Roboto Slab', serif;
	font-size: 140%; }

.definition {
	color: #8dcb41; 
	padding: 0px;
	font-size: 60%; 
	font-family: serif;
	width: 600px; 
	margin: 0 auto 0 auto;}
.definition:hover {
	color: #ef8861;
	transition: 2s; }
	
.nutrition {
	margin: auto;
	width: 80%; }


	
.space{
	margin-top: 100px; }
	
.promo {
	font-family: 'helvetica'; 
	font-size: 28px; 
	color: white; 
	background: #80BD01;
	text-align: center; 
	margin: auto
	width: 60%; }
	
nav ul{
	list-style-type: none;
	padding: 0px; }
	
nav ul li{
	display: inline-block; }
	
nav a {
	padding: 10px; 
	text-decoration: none; 
	margin-left: 15px;  
	color: #8dcb41; 
	transition: all 0.5s; }
a:hover {
	color: #ef8861; 
	transition: all 1s;
	size: 20% 
	outline: dotted; 2px;}

.navigation {
	position: fixed; 
	z-index: 10;
	margin: auto;
	background-color: white;
	opacity: .88;
	width: 100%; 
	top: 0;}
	
.edit {
	font-size: 16px;
	line-height: 29px;
	width:55%;
	margin: auto;
	text-align: left; }
.edit h2 {
	color: white;
	font-family: Helvetica;
	font-size: 53px; } 

.hello {
	margin-top: 120px; }

footer {
	color: white; 
	font-size: 12px;
	background: #80BD01; 
	padding: 12px; }
	
.test {
	background: #80BD01;
	padding: 20px; }
	
ul{
	list-style-type: none;
	padding: 0px; }

	